body{
  margin: 0;
}
canvas{
  background: rgba(0,0,0,0.1);
  display: block;
}
.actions{
  position: fixed;
  left: 10px;
  bottom: 5px;
}
.actions > #brush{
	display: none;
}
.actions.x > #brush{
	display: inline-block;
}
.actions.x > #eraser{
	display: none;
}
